<h1>Todos app 🚀</h1>

<div class="todos">
  <% @todos.each do |todo| %>
    <%= link_to todo_path(todo.id), class: "todo" do %>
      <p>Id: <%= todo.id %></p>
      <p>Name: <%= todo.name %></p>
      <p>Done: <%= todo.done %></p>
    <% end %>
  <% end %>
</div>